<div class="container">
    <h1>Artículo</h1>
    <button class="outline" routerLink="/articulos">Atrás</button>
    <table>
        <tr>
            <th>Marca</th>
            <td>{{articulo.marca}}</td>
        </tr>
        <tr>
            <th>Modelo</th>
            <td>{{articulo.modelo}}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{articulo.descripcion}}</td>
        </tr>
        <tr>
            <th>Precio</th>
            <td>{{articulo.precio}} €</td>
        </tr>
    </table>
</div>
